---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    namespace: openshift-gitops
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 10m
      limit: 15
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
  source:
    repoURL: {{ ocp4_workload_platform_engineering_workshop_gitops_repo }}
    targetRevision: {{ ocp4_workload_platform_engineering_workshop_gitops_repo_tag }}
    path: app-of-apps
    helm:
      valuesObject:
        gitops:
          repoURL: {{ ocp4_workload_platform_engineering_workshop_gitops_repo }}
          targetRevision: {{ ocp4_workload_platform_engineering_workshop_gitops_repo_tag }}

        argocd:
          namespace: openshift-gitops

        cluster:
          subdomain: {{ r_openshift_subdomain }}
          apiServer: {{ r_openshift_api_server }}

        common:
          password: "{{ common_password }}"

        vault:
          name: {{ ocp4_workload_platform_engineering_workshop_vault_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_vault_namespace }}
          authNamespace: {{ ocp4_workload_platform_engineering_workshop_vault_auth_namespace }}
          secrets:
            gitlab:
              rootPassword: "{{ ocp4_workload_platform_engineering_workshop_gitlab_config_root_password }}"
            keycloak:
              clientId: {{ ocp4_workload_platform_engineering_workshop_rhbk_client_backstage_name }}
              clientSecret: "{{ ocp4_workload_platform_engineering_workshop_rhbk_client_backstage_secret }}"
              pluginClientSecret: "{{ ocp4_workload_platform_engineering_workshop_rhbk_client_backstage_plugin_secret }}"
              openshiftClientSecret: "{{ ocp4_workload_platform_engineering_workshop_rhbk_client_openshift_secret }}"
            rhdh:
              argocdPassword: "{{ openshift_gitops_admin_password }}"
              postgresqlPassword: "{{ ocp4_workload_platform_engineering_workshop_rhdh_psql_password }}"
            orchestrator:
              token: "{{ ocp4_workload_platform_engineering_workshop_orchestrator_token }}"
            common:
              password: "{{ common_password }}"
            litellm:
              apiUrl: "{{ ocp4_workload_platform_engineering_workshop_litellm_api_url }}"
              apiKey: "{{ ocp4_workload_platform_engineering_workshop_litellm_api_key }}"
            kafka:
              userPassword: "{{ common_password }}"

        externalSecrets:
          name: external-secrets
          namespace: {{ ocp4_workload_platform_engineering_workshop_external_secrets_namespace }}

        openshiftPipelines:
          name: openshift-pipelines
          namespace: {{ ocp4_workload_platform_engineering_workshop_openshift_pipelines_namespace }}

        noobaa:
          enabled: {{ ocp4_workload_platform_engineering_workshop_noobaa_install }}
          name: {{ ocp4_workload_platform_engineering_workshop_noobaa_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_noobaa_namespace }}

        gitlab:
          name: {{ ocp4_workload_platform_engineering_workshop_gitlab_gitops_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_gitlab_namespace }}
          host: {{ ocp4_workload_platform_engineering_workshop_gitlab_config_host }}
          smtp:
            host: {{ ocp4_workload_platform_engineering_workshop_gitlab_config_smtp_host }}
          ssh:
            host: {{ ocp4_workload_platform_engineering_workshop_gitlab_config_ssh_host }}
          rootPassword: "{{ ocp4_workload_platform_engineering_workshop_gitlab_config_root_password }}"
          usersPassword: "{{ ocp4_workload_platform_engineering_workshop_gitlab_users_password }}"
          cluster:
            subdomain: {{ r_openshift_subdomain }}
          gitops:
            namespace: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_namespace }}
          quay:
            host: {{ ocp4_workload_platform_engineering_workshop_quay_registry_host }}

        keycloak:
          name: {{ ocp4_workload_platform_engineering_workshop_rhbk_application_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_rhbk_namespace }}
          crName: {{ ocp4_workload_platform_engineering_workshop_rhbk_cr_name }}
          externalAccess: {{ ocp4_workload_platform_engineering_workshop_rhbk_external_access }}
          route:
            host: {{ ocp4_workload_platform_engineering_workshop_rhbk_host }}.{{ r_openshift_subdomain }}
          realm:
            name: {{ ocp4_workload_platform_engineering_workshop_rhbk_realm_backstage_name }}
          client:
            backstage:
              name: {{ ocp4_workload_platform_engineering_workshop_rhbk_client_backstage_name }}
              redirectUri: https://backstage-{{ ocp4_workload_platform_engineering_workshop_rhdh_namespace }}.{{ r_openshift_subdomain }}/api/auth/oidc/handler/frame
              webOrigin: https://backstage-{{ ocp4_workload_platform_engineering_workshop_rhdh_namespace }}.{{ r_openshift_subdomain }}
              secret: "{{ ocp4_workload_platform_engineering_workshop_rhbk_client_backstage_secret }}"
            backstagePlugin:
              name: {{ ocp4_workload_platform_engineering_workshop_rhbk_client_backstage_plugin_name }}
              secret: "{{ ocp4_workload_platform_engineering_workshop_rhbk_client_backstage_plugin_secret }}"
            openshift:
              name: {{ ocp4_workload_platform_engineering_workshop_rhbk_client_openshift_name }}
              redirectUri: "https://oauth-openshift.{{ r_openshift_subdomain }}/oauth2callback/developers"
              secret: "{{ ocp4_workload_platform_engineering_workshop_rhbk_client_openshift_secret }}"
          users:
            password: "{{ ocp4_workload_platform_engineering_workshop_rhbk_user_password }}"

        quay:
          name: {{ ocp4_workload_platform_engineering_workshop_quay_application_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_quay_namespace }}
          host: {{ ocp4_workload_platform_engineering_workshop_quay_registry_host }}
          adminUser: {{ ocp4_workload_platform_engineering_workshop_quay_admin_user }}
          adminUserPassword: "{{ ocp4_workload_platform_engineering_workshop_quay_admin_user_password }}"
          organizations: {{ ocp4_workload_platform_engineering_workshop_quay_organizations }}
          users: {{ ocp4_workload_platform_engineering_workshop_quay_users | to_json }}

        rhdhGitops:
          name: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_namespace }}
          password: "{{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_password }}"

        rhdh:
          name: {{ ocp4_workload_platform_engineering_workshop_rhdh_argo_application_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_rhdh_namespace }}
          configTemplate:
            gitlab:
              rootPassword: "{{ ocp4_workload_platform_engineering_workshop_gitlab_config_root_password }}"
              host: {{ ocp4_workload_platform_engineering_workshop_gitlab_config_host }}
            backstage:
              host: backstage-{{ ocp4_workload_platform_engineering_workshop_rhdh_namespace }}.{{ r_openshift_subdomain }}
            keycloak:
              host: {{ ocp4_workload_platform_engineering_workshop_rhbk_host }}.{{ r_openshift_subdomain }}
              realm: {{ ocp4_workload_platform_engineering_workshop_rhbk_realm_backstage_name }}
              loginRealm: {{ ocp4_workload_platform_engineering_workshop_rhbk_realm_backstage_name }}
              clientId: {{ ocp4_workload_platform_engineering_workshop_rhbk_client_backstage_plugin_name }}
              clientSecret: "{{ ocp4_workload_platform_engineering_workshop_rhbk_client_backstage_plugin_secret }}"
            gitops:
              host: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_name }}-server-{{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_namespace }}.{{ r_openshift_subdomain }}
            kubernetes:
              api: {{ r_openshift_api_server }}
            cluster:
              subdomain: {{ r_openshift_subdomain }}
          application:
            gitops:
              namespace: openshift-gitops
            helm:
              values:
                git:
                  host: {{ ocp4_workload_platform_engineering_workshop_gitlab_config_host }}

        openshiftOAuth:
          name: {{ ocp4_workload_platform_engineering_workshop_openshift_oauth_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_openshift_oauth_namespace }}

        devspaces:
          enabled: {{ ocp4_workload_platform_engineering_workshop_devspaces_install }}
          name: {{ ocp4_workload_platform_engineering_workshop_devspaces_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_devspaces_namespace }}

        rhtas:
          name: {{ ocp4_workload_platform_engineering_workshop_rhtas_application_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_rhtas_namespace }}
          instance: {{ ocp4_workload_platform_engineering_workshop_rhtas_instance_name }}
          oidcIssuer: {{ ocp4_workload_platform_engineering_workshop_rhtas_oidc_issuer }}
          rootCert:
            email: {{ ocp4_workload_platform_engineering_workshop_rhtas_root_cert_email }}
            org: {{ ocp4_workload_platform_engineering_workshop_rhtas_root_cert_org }}

        amqStreams:
          enabled: true
          name: amq-streams
          namespace: kafka

        parasol:
          name: parasol
          namespace: parasol-dev

        orchestrator:
          name: {{ ocp4_workload_platform_engineering_workshop_orchestrator_application_name }}
          namespace: {{ ocp4_workload_platform_engineering_workshop_orchestrator_namespace }}
          backstage:
            backend:
              url: https://backstage-{{ ocp4_workload_platform_engineering_workshop_rhdh_namespace }}.{{ r_openshift_subdomain }}
          openshift:
            url: {{ r_openshift_api_server }}
          gitlab:
            url: https://{{ ocp4_workload_platform_engineering_workshop_gitlab_config_host }}
